<div class="container">
    <h2>Random passcode (passcode # @ViewBag.Count ) </h2>
    <div class="jumbotron">
        <h3>@ViewBag.RandStr</h3>
    </div>
    <a href="/generate" class="btn btn-info">Generate</a>
    
</div>